<h2>登録情報編集 </h2>

<%= form_for(@user) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <!-- name -->
<div class="field">
  <%= f.label :氏名 %><br />
  <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>
  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
</div>

<!-- kana_name -->
<div class="field">
  <%= f.label :氏名（フリガナ） %><br />
  <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %>
  <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
</div>

<!-- email -->
<div class="field">
  <%= f.label :メールアドレス %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<%= render :partial => 'layouts/addressform', :locals => {:f =>f} %>

<!-- tel -->
<div class="field">
  <%= f.label :電話番号（ハイフンなし） %><br />
  <%= f.text_field :tel, autofocus: true, autocomplete: "tel" %>
</div>



  <div class="actions">
    <%= f.submit "編集内容を保存する" %>
  </div>
  <%= link_to "退会する",  user_unregister_path %>
<% end %>
