<%= render 'layouts/header2' %>
<body style="background: #FFFF;color: #000; font-family:monospace" >
 
    <div class="form-group">
      <div class=col-6 style="border-bottom: 1px solid #000;border-left: 10px solid #000;padding: 7px;">
        <h3>マイページ</h3>
          <div class=col-6 style="opacity: 0.5; font-family:cursive" >
            <p>My page</p>
          </div>
      </div>
    </div>

    <div class="form-group">
      <div  class="row">
        <div class=col-2 style="text-align:center; padding: 10px;">
         <p>登録情報</p>
        </div>
        <div class="col-2">
          <%= link_to "編集する", edit_user_path,class: "btn btn-outline-dark" %>
        </div>
        <div class="col-4">
          <%= link_to "パスワードを変更する",  edit_user_registration_path(@user),class: "btn btn-outline-dark"%>
        </div>
      </div>
    </div>
　　 
     <table class="table table-bordered">

		<tr>
			<th bgcolor="#EEEEEE">氏名</th>
			<td><%= @user.family_name %>  <%= @user.first_name %></td>
		</tr>
		<tr>
			<th bgcolor="#EEEEEE">フリガナ</th>
			<td><%= @user.family_name_kana %>  <%= @user.first_name_kana %></td>
		</tr>
		<tr>
			<th bgcolor="#EEEEEE">郵便番号</th>
			<td><%= @user.postal_code %></td>
		</tr>
		<tr>
			<th bgcolor="#EEEEEE">住所</th>
			<td> <%= @user.user_address %> </td>
		</tr>
		<tr>
			<th bgcolor="#EEEEEE">電話番号</th>
			<td><%= @user.tel %></td>
		</tr>
		<tr>
			<th bgcolor="#EEEEEE">メールアドレス</th>
			<td><%= @user.email %></td>
		</tr>
	</table>
    
    <div class="form-group">
      <div class="row">
      	<div class=col-2 style="text-align:center; padding: 10px;">
          配送先
        </div>
        <div class="col-4">
          <%= link_to "一覧を見る", delivery_addresses_path,class: "btn btn-outline-dark", id: "delivery_link" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
      	<div class=col-2 style="text-align:center; padding: 10px;">
          注文履歴
        </div>
        <div class="col-4">
          <%= link_to "一覧を見る", orders_path,class: "btn btn-outline-dark" , id: "orders_link"%>
        </div>
      </div>
  
