<div class="col-sm-2 admin-head" style="background-color:#FFC;">ジャンル編集</div>

 <div class="row">
 	<table class="table">
	<%= form_for @category,:url => {:action => :update} do |f| %>
		<%= f.label :名前 %>
		<%= f.text_field :name %>
		<td><%= f.radio_button :category_status, "有効" %>有効</td>
		<td><%= f.radio_button :category_status, "無効" %>無効</td>

		<%= f.submit"変更を保存", class: "btn btn-defolt" %>
	<% end %>
	</table>
</div>