<h1>Admins::Categories#index</h1>
<h3>ジャンル一覧</h3>

<div>
	<%= form_for @category,:url => {:action => :create} do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.select :category_status, Category.category_statuses.keys, include_blank: "-----" %>

		<%= f.submit %>
	<% end %>
</div>




