<%= render 'layouts/header2' %>
<body style="background: #FFFF;color: #000; font-family:monospace" >
  <div class="container">
    <div class="form-group">
      <div class=col-6 style="border-bottom: 1px solid #007700;border-left: 10px solid #007700;padding: 7px;">
        <h3>配送先登録・一覧</h3>
          <div class=col-6 style="opacity: 0.5; font-family:cursive" >
            <p>Delivery Address</p>
          </div>
      </div>
    </div>

      <%= form_for @address do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <div class="text-right">
                <%= f.label :郵便番号（ハイフンなし） %>
              </div>
            </div>
              <div class="col-3">
                <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code",class: "input form-control" %>
              </div>
          </div>
        </div>
<!-- -----------prefecture_code----------- -->
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <div class="text-right">
                <%= f.label :都道府県 %>
              </div>
            </div>
              <div class="col-3">
                <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name ,include_blank: '都道府県' %>
              </div>
          </div>
        </div>
<!-- address_city -->
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <div class="text-right">
                <%= f.label :市区町村 %>
              </div>
            </div>
              <div class="col-3">
                <%= f.text_field :address_city, autofocus: true, autocomplete: "address_city",class: "input form-control" %>
              </div>
          </div>
        </div>
<!-- adress_street -->
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <div class="text-right">
                <%= f.label :番地 %>
              </div>
            </div>
              <div class="col-3">
                <%= f.text_field :address_street, autofocus: true, autocomplete: "address_street",class: "input form-control" %>
              </div>
          </div>
        </div>
<!-- address_building -->
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <div class="text-right">
                <%= f.label :建物 %>
              </div>
            </div>
              <div class="col-8">
                <%= f.text_field :address_building, autofocus: true, autocomplete: "address_building",class: "input type=text form-control " %>
              </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <div class="text-right">
         	      <%= f.label :宛名 %>
              </div>
            </div>
              <div class="col-3">
         	      <%= f.text_field :receiver,class: "input form-control" %>
              </div>
          </div>
        </div>


        <div class="field">
          <div class="text-right">
           <%= f.submit "登録する", class: "btn btn-outline-success" %>
         </div>
       </div>
     <% end %>

       <table class="table table-hover">
	       <thead>
		       <tr>
		         <th>郵便番号</th>
			       <th>住所</th>
			       <th>宛名</th>
			       <th></th>
          </tr>
        </thead>
  

          <% @addresses.each do |a| %>
            <tbody>
   
              <tr>
    	          <td><%= a.postal_code %></td>
    	          <td><%= a.connect_address %></td>
    	          <td><%= a.receiver %></td>
                <td><%= link_to "編集する", edit_delivery_address_path(a),class: "btn btn-outline-primary" %></td>
                <td><%= link_to "Destroy", delivery_address_path(a), method: :delete, data:{confirm: "本当に削除しますか？"}, class: "btn btn-outline-danger" %></td>
              </tr>
            </tbody>
          <% end %>
      </table>
  </div>
</body>
  <footer>
    <div class="col">
    </div>
  </footer>

