<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<%= render 'layouts/category' %>
		</div>
		<div class="col-lg-9">
			<div class="m-3">
				<%= image_tag 'topimage1.jpg', size: "500x300" %>
			</div>
			<div class="border-bottom border-danger " style="padding:5px;">
			<h3>オススメ商品</h3>
			</div>
			<div class="row">
				<div class="col-3">
					<%= image_tag 'topimage2.jpg', size: "150x100" %>
					<p>空色カップケーキ</p>
					<p>¥500</p>
				</div>
				<div class="col-3">
					<%= image_tag 'topimage3.jpg', size: "150x100" %>
					<p>パステルホールケーキ</p>
					<p>¥1,000</p>
				</div>
				<div class="col-3">
					<%= image_tag 'topimage4.jpg', size: "150x100" %>
					<p>ショコラ</p>
					<p>¥1,000</p>
				</div>
				<div class="col-3">
					<%= image_tag 'topimage5.jpg', size: "150x100" %>
					<p>オペラ</p>
					<p>¥500</p>
				</div>
			</div>
			<td align="right">
				<%= link_to 'もっと見る＞', products_path %>
			</td>
		</div>
	</div>
</div>