<div class="container">
	<%= flash[:notice] %>
	<div class="row">
		<div class="skipper">
			<div id="theTarget">
				<div class="image1"></div>
				<div class="image2"></div>
				<div class="image3"></div>
				<div class="image4"></div>
				<div class="image5"></div>
			</div>
		</div>
		<h3>PICK UP</h3>
		<div class="row">
			<div class="col-3">
				<%= image_tag 'tart1.jpg', size: "150x100" %>
				<p>洋梨のチーズタルト</p>
				<p>¥400</p>
			</div>
			<div class="col-3">
				<%= image_tag 'topimage3.jpg', size: "150x100" %>
				<p>ホールケーキ</p>
				<p>¥1,000</p>
			</div>
			<div class="col-3">
				<%= image_tag 'topimage4.jpg', size: "150x100" %>
				<p>ショコラ</p>
				<p>¥1,000</p>
			</div>
			<div class="col-3">
				<%= image_tag 'topimage5.jpg', size: "150x100" %>
				<p>オペラ</p>
				<p>¥500</p>
			</div>
		</div>
		<p class="text-right">
			<%= link_to 'more＞', products_path %>
		</p>
	</div>
</div>