<%= render 'layouts/header2' %>
<body style="background: #FFFF;color: #000; font-family:monospace" >
  <div class="container">
    <div class="form-group">
      <div class=col-6 style="border-bottom: 1px solid #000;border-left: 10px solid #000;padding: 7px;">
        <h3>会員一覧</h3>
          <div class=col-6 style="opacity: 0.5; font-family:cursive" >
            <p>Users</p>
          </div>
      </div>
    </div>
<div class="container">





  <div class="col-12">
    <table class="table table-hover text-center">
	  <thead>
	    <tr>
		  <th>会員id</th>
		  <th>氏名</th>
		  <th>メールアドレス</th>
		  <th>ステータス</th>
		</tr>
	  </thead>

	    <tbody>
		  <% @users.each do |user| %>
			<tr>
				<td><%= user.id %>	</td>
				<td><%= link_to user.user_fullname,admins_user_path(user),:style=>"color:#000;", id: "admin-user-link"%></td>
			    <td><%= user.email %></td>
				<td><%= user.user_status %></td>
		    </tr>

			<% end %>
		</tbody>
	</table>
	<div class="col-7">
		 <%= paginate @users %>
	</div>
  </div>
</div>