
<div class="col-sm-2 admin-head" style="background-color:#FFC;">会員一覧</div>

<div class="col-sm-8" style="margin:0 auto; padding-top:30px">
	<table class="table">
		<thead>
			<tr>
				<th>会員id</th>
				<th>氏名</th>
				<th>メールアドレス</th>
				<th>ステータス</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.id %>	</td>
				<td><%= link_to(admins_user_path(user)) do %>
					<%=user.user_fullname%>
	                <% end %>
			    </td>
			    <td><%= user.email %>	</td>
				<td><%= user.user_status %></td>
		    </tr>
			<% end %>
		</tbody>
	</table>
</div>