<%= render 'layouts/header2' %>
<h2>注文履歴詳細</h2>
<div class="row">
  <div class="col-6">
  	<table class="table table-bordered">
  		<tbody>
  			<tr>
  				<td>注文日</td>
  				<td><%= @order.created_at.to_s(:datetime_jp) %></td>
  			</tr>
  			<tr>
  				<td>配送先</td>
  				<td>
  					<p><%= @order.postal_code %></p>
			  		<p><%= @order.delivery_address %></p>
			  		<p><%= @order.receiver %></p>
			  	</td>
  			</tr>
  			<tr>
  				<td>支払い方法</td>
  				<td><%= @order.payment %></td>
  			</tr>
  			<tr>
  				<td>ステータス</td>
  				<td><%= @order.order_status %></td>
  			</tr>
  		</tbody>
  	</table>
  </div>
  <div class="col-6">
  	<table class="table table-bordered">
  		<tbody>
  		  <tr>
  			  <td>商品合計</td>
  			  <td><%= @order.total_price %></td>
  		  </tr>
  		  <tr>
  			  <td>配送料</td>
 				  <td><%= @order.postage %></td>
 			  </tr>
  		  <tr>
  			  <td>ご請求金額</td>
  			  <td><%= @order.total_price + @order.postage %></td>
 			  </tr>
 			</tbody>
  	</table>
  </div>
</div>
<div class="row">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>商品</th>
			  <th>単価(税込)</th>
			  <th>個数</th>
			  <th>小計</th>
			</tr>
		</thead>
		<tbody>
  		<% @order.order_details.each do |order_detail|%>
        <tr>
  		    <td><%= order_detail.product.product_name %></td>
  		    <td><%= order_detail.product_price.to_s(:delimited) %></td>
  		    <td><%= order_detail.number %></td>
  		    <td><%= order_detail.number * order_detail.product_price %></td>
        </tr>
  		<% end %>
 		</tbody>
  </table>
</div>