<h1>商品編集</h1>


<div class="container">

  <%= form_for @product,:url => {:action => :update} do |f| %>
   
     <div class="form-group">
       <%= f.label :product_name %>
       <%= f.text_field :product_name %>
     </div>
     <div class="form-group">
       <%= f.label :product_price %>
       <%= f.text_field :product_price %>
     </div>
     <div class="form-group">
       <%= f.label :product_comment %>
       <%= f.text_area :product_comment %>
     </div>

     <div class="form-group">
	     <%= f.label :product_image %>
	     <%= f.attachment_field :product_image %>
       <%= attachment_image_tag @product, :product_image, :fill, 300, 300, format: 'jpeg' %>

     <div class="form-group">ジャンル
       <%= f.collection_select(:category_id,Category.all, :id, :name, include_blank: "選択してください") do |category| %>
        <%= category.label do %>
          <%= category.check_box %>
            <%= category.text %>
        <% end %>
      <% end %>
     </div>

     <div class="form-group">販売ステータス
       <%= f.select :product_status, Product.product_statuses.keys, include_blank: "-----" %>
     </div>

    <div class="form-group">
      <%= f.submit %>
    </div>
  <% end %>
</div>