<%= render 'layouts/header2' %>
<body style="background: #FFFF;color: #000; font-family:monospace" >
  <div class="container">
    <div class="form-group">
      <div class=col-6 style="border-bottom: 1px solid #007700;border-left: 10px solid #007700;padding: 7px;">
        <h3>商品編集</h3>
          <div class=col-6 style="opacity: 0.5; font-family:cursive" >
            <p>Product Edit</p>
          </div>
      </div>
    </div>


<div class="container">

  <%= form_for @product,:url => {:action => :update} do |f| %>

    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <div class="view_box">
            <%= f.attachment_field :product_image, format: 'jpeg' ,class: "file" %>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="form-group">
          <%= f.label "商品名" %>
          <%= f.text_field :product_name,class: "input form-control" %>
        </div>

        <div class="form-group">
         <%= f.label :product_comment %>
         <%= f.text_area :product_comment,class: "input form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
      </div>
      <div class="col-3">
        <div class="form-group">
          <%= f.label :product_price %>
          <%= f.text_field :product_price,class: "input form-control" %>
        </div>

        <div class="form-group">ジャンル
          <%= f.collection_select(:category_id,Category.all, :id, :name, include_blank: "選択してください") do |category| %>
            <%= category.label do %>
              <%= category.check_box %>
              <%= category.text %>
            <% end %>
          <% end %>
        </div>


        <div class="form-group">販売ステータス
          <%= f.select :product_status, Product.product_statuses.keys, include_blank: "-----" %>
        </div>
      </div>
    </div>
       <div class="form-group">
         <div class="row">
           <div class="col-12">
             <div class="text-right">
               <%= f.submit "編集する",class: "btn btn-outline-dark" %>
             </div>
           </div>
         </div>
      </div>
  <% end %>
</div>
