<h1>Admins::Products#new</h1>

　<div class="container">

<%= form_for @product,:url => {:action => :create} do |f| %>
     <h2>New products</h2>
     <div class="form-group">
       <%= f.label :product_name %>
       <%= f.text_field :product_name %>
     </div>
     <div class="form-group">
       <%= f.label :product_price %>
       <%= f.text_field :product_price %>
     </div>
     <div class="form-group">
       <%= f.label :product_comment %>
       <%= f.text_area :product_comment %>
     </div>
     <div class="form-group">
	   <%= f.label :product_image %>
	   <%= f.attachment_field :product_image %>

      <div class="form-group">
       <%= f.submit %>
      </div>
  <% end %>
</div>