<div class="row">
  <div class="col-3">
	  <%= render 'layouts/category' %>
  </div>
  <div class="col-1"></div>
  <div class="col-8">
  	<div class="product-show-box">
  		<%= attachment_image_tag @product, :product_image, :fill, 400, 200, class: "img-rounded", fallback: "no_image_lg.jpg" %>
  		<div class="product-detail">
  			<h2><%= @product.product_name %></h2>
  			<p><%= @product.product_comment %></p>
  			<h3>￥ (#{ <%= @product.product_price %>.to_i * 1.08 }) (税込)</h3>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-6"></div>
  		<div class="col-6">
   	    <%= form_for @cart, url:carts_path( product_id: @product.id ) do |f| %>
		      <%= f.number_field :number, min: 1, max: 10, include_blank: "個数選択" %>
		      <%= f.submit %>
	      <% end %> 
  		</div>
  	</div>
  </div>
</div>