<%= render 'layouts/header2' %>

<div class="row">
  <div class="col-2">
    <div class="row" style="height: 40px"></div>
<!-- 	  <%= render 'layouts/category-v2' %> -->
  </div>
  <div class="col-10">
    <div class="row" style="height: 80px"></div>
    <div class="row">
      <%= link_to "HOME", root_path %> >
      <%= link_to "商品一覧", products_path(category: "0") %> >
      <%= @product.product_name %>
    </div>
    <div class="row" style="height: 20px"></div>
    <div class="row">
  	  <div class="col-5">
  		  <%= attachment_image_tag @product, :product_image, :fill, 300, 300, class: "img-rounded", fallback: "no_image_lg.jpg" %>
      </div>
  		<div class="product-detail col-7">
        <div class="row" style="height: 30px"></div>
  			<h4>"<%= @product.product_name %>"</h4>
  			<h3>￥ <%= @product.tax_included.to_i.to_s(:delimited) %> (税込)</h3>
        <div class="row" style="height: 30px"></div>
        <div>
        <%= form_for @cart, url:carts_path( product_id: @product.id ) do |f| %>
          <span>数量：</span>
          <%= f.number_field :number, min: 1, max: 100, class: "cart_number"%><br>
          <div class="row" style="height: 10px"></div>
          <div class="row">
            <div class="col-9">
              <% if @product.product_status == "販売中" %>
                <% if user_signed_in? %>
                  <% if @cartfilter %>
                    <button type="button" class="btn btn-secoudaly btn-block disabled" data-toggle="modal" data-target="#exampleModal">
                    カートに入っています。
                    </button>
                  <% else %>
              　    <%= button_tag '<i class="fas fa-shopping-cart"></i> カートに入れる'.html_safe, :type => "submit", :class =>"btn btn-primary btn-block " %>
                  <% end %>
                <% else %>
                  <button type="button" class="btn btn-primary btn-block disabled" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-shopping-cart"></i> カートに入れる
                  </button>
                <% end %>
              <% else %>
                <button type="button" class="btn btn-secoudaly btn-block disabled" data-toggle="modal" data-target="#exampleModal">
                    SOLD OUT
                </button>
              <% end %>
            </div>
            <div class="col-3"></div>
          </div>
        <% end %>
      </div>
      <div class="row" style="height: 20px"></div>
      <p><%= @product.product_comment %></p>
      <p>▼　送料について　▼</p>
      <p>全国一律 ￥800です。</p>
      <p>▼　消費期限　▼</p>
      <p>配送日から〇日です。</p>
  		</div>
    </div>
  </div>
</div>
<div class="row" style="height: 100px;"></div>
